*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
  
 body{
    background-color: aquamarine;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
  
 #formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
  
 .customInput{
    height: 30;
    margin-bottom: 10px;
    padding-left: 3px;
 }
  
 .customButton{
    height: 30px;
    width: 50px;
    outline: none;
    border: none;
 }

 .hide{
    display: none;
 }

 .error{
    color: red;
    margin-top: -10px;
    font-family: sans-serif;
 }